---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<style>
  #home-banner-middle {
      background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.data.featured_item.src | relative_url }}');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
  }
  #home-title-box-mid-middle {
      padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
      padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
  }
  @media screen and (max-width: 576px) {
      #home-title-box-middle {
          max-height: 500px;
      }
  }
  </style>
 <!-- Welcome Section -->
 <section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Column: Text -->
       <div class="col-lg-8 text-lg-start" style="padding-right: 10rem;">
        <h2 class="" style="padding-right: 10rem;">Welcome to HCI Capstone Inspiration /depot!</h2>
        <p class="">
          Your gateway to innovative design solutions, bold ideas, and creative problem-solving.  This collection showcases HCI/d students designing for a better world, with projects spanning diverse themes, technologies, and industries—each with a story to tell and lessons to share.
        </p>
        <br>
        <a class="btn btn-iu-crimson" href="{{ '/browse.html' | relative_url }}"><i class="bi bi-arrow-right"></i>See Capstone Projects</a>
      </div>
      
      <!-- Right Column: Slider -->
       <div class="col-lg-4 text-center">
        {% include index/carousel.html title="" %}
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-iu-gray">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Column: Text -->
       <div class="col-lg-8 text-lg-start" style="padding-right: 10rem;">
        <h2 class="" style="padding-right: 10rem;">About the Collection</h2>
        <p class="">
          HCI /depot is a digital archive featuring innovative projects by past graduate students in IU’s HCI/d program. This collection centralizes posters, documentation, and prototypes, offering easy access to years of creative and impactful design solutions.
        </p>
        <br>
        <a class="btn btn-iu-crimson" href="{{ '/about.html' | relative_url }}"><i class="bi bi-arrow-right"></i>Learn More</a>
      </div>
      
      <!-- Right Column: Slider -->
       <div class="col-lg-4">
        {% include index/time.html %}
        {% include index/objects.html %}
      </div>
    </div>
  </div>
</section>


<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Column: Text -->
       <div class="col-lg-8 text-lg-start" style="padding-right: 10rem;">
        <h2 class="" style="padding-right: 10rem;">Discover with a Focused Lens</h2>
        <p class="">
          Explore interactive tag clouds highlighting capstone focus areas,user groups, industry applications, and design themes to uncover new perspectives and insights.
        </p>
        <br>
        <a class="btn btn-iu-crimson" href="{{ '/capstone-type.html' | relative_url }}"><i class="bi bi-arrow-right"></i>Discover More Insights</a>
      </div>
      
      <!-- Right Column: Slider -->
       <div class="col-lg-4">
        {% include index/featured-terms.html field="project_type" title="Specialization Focus" btn-color="outline-iu-crimson" %}
        {% include index/featured-terms.html field="user_groups" title="Top User Groups" btn-color="outline-iu-crimson" %}
        <!-- {% include index/featured-terms.html field="project_theme" title="Capstone Themes" btn-color="outline-iu-crimson" custom-link-path="/capstone-theme.html" 
        custom-button="View More" %} -->
      </div>
    </div>
  </div>
</section>

  <!-- <div class="col-md-12">

    {% include index/data-download.html %}

          
      {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %} 


  </div> -->