---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}

 <!-- Welcome Section
 <section class="bg-light py-5">
  <div class="container">
      <div class="row align-items-center"> -->
          <!-- Left Column: Text -->
          <!-- <div class="col-lg-6 text-center text-lg-start">
              <h2 class="display-4 fw-bold">Welcome Hoosiers</h2>
              <p class="lead">
                  Discover a world of tradition, innovation, and community. Join us to explore endless opportunities and be part of something bigger.
              </p>
              <a href="#explore" class="btn btn-iu-crimson mt-3">See Capstones</a>
          </div> -->

          <!-- Right Column: Image -->
          <!-- <div class="col-lg-6 text-center">
              <img src="https://via.placeholder.com/500x300" alt="IU Bloomington" class="img-fluid rounded">
          </div>
      </div>
  </div>
</section> -->

<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Recently Added" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="project_type" title="Specialization Focus" btn-color="outline-iu-crimson" %}

    <!-- {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %} -->
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/acknowledgements.html %}

  </div>

  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>